<div class="container">
  <div class="jumbotron mt-3">
    <h1>校正API DEMO</h1>
    <p class="lead">文字校正を行ってくれるAPIを利用したツールです。一度に500文字までチェックできます。</p>

    <div id="request_ajax_update">
      <%= form_with model: @proofreading_api, url: request_path, id: 'text_form', class: 'row', method: :get do |f| %>
        <div class="col-md-5 lint_inline">
          <div class="form-group">
            <%= f.text_area :text, maxlength: 500, rows: 20, value: 'システムの規格から開発・運用まＤ幅広く関われます。', class: "form-control lint_text" %>
          </div>
        </div>

        <div class="col-md-2 lint_inline">
          <div class="form-group">
            <%= f.submit "校正チェック", class: 'btn btn-lg btn-primary center' %>
          </div>
        </div>

        <div class="col-md-5 lint_inline">
          <div id="checked_wrap" class="lint_text">
            <p>DEFAULT</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
